h1 {
  font-size: 7.5rem;
  font-weight: 700;
  line-height: 1;
  background: rgb(128, 179, 226);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.1;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;


  text-shadow:
    0 0 12px rgba(0,0,0,0.7),
    0 0 24px rgba(0,0,0,0.5),
    0 0 36px rgba(0,0,0,0.3);
}

h4 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.3;
  color: #ffffff;
}

p {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #5f5d5d;
}

.button {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.55rem 1rem;
  border: none;
  cursor: pointer;
  background: rgb(32, 34, 37) ;
  color: #ffffff;
  transition: opacity 0.3s ease;
}

.button:hover {
  opacity: 0.85;
}

#favCheck {
    transition: opacity 0.3s ease;
}

#favCheck.show {
    opacity: 1;
}

 /* Background slideshow styles for login page*/
.bg-slide {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    transform: scale(1);
    animation: zoom 10s infinite alternate;
  }
  @keyframes zoom {
    0% { transform: scale(1); }
    100% { transform: scale(1.02); }
  }

   /* Macy.js script pre Masonry */
  #masonry {
  display: none;
}
