h1 {
  font-size: 2.5rem !important;
  font-weight: 700 !important;
  line-height: 1.2 !important;
  color: rgb(128, 179, 226) !important;
}

h2 {
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  line-height: 1.1 !important;
}

h3 {
  font-size: 1.4rem !important;
  font-weight: 500 !important;
  line-height: 1.2 !important;
  color: #ffffff !important;
  text-shadow:
    0 0 12px rgba(0,0,0,0.7),
    0 0 24px rgba(0,0,0,0.5),
    0 0 36px rgba(0,0,0,0.3) !important;
}

h4 {
  font-size: 1.125rem !important;
  font-weight: 500 !important;
  line-height: 1.3 !important;
  color: #ffffff !important;
}

p {
  font-size: 1.125rem !important;
  line-height: 1.6 !important;
  color: #5f5d5d !important;
}

 /* Favorite animation */
#favCheck {
    transition: opacity 0.3s ease;
}

/* Show favorite icon */
#favCheck.show {
    opacity: 1;
}

 /* Background slideshow styles for login page*/
.bg-slide {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    transform: scale(1);
    animation: zoom 10s infinite alternate;
  }
  @keyframes zoom {
    0% { transform: scale(1); }
    100% { transform: scale(1.02); }
  }

   /* Macy.js script for feed layout */
  #masonry {
  display: none;
}

/* ---------- Mobile Responsive Styles ---------- */
@media (max-width: 768px) {
  h1 {
    font-size: 1.65rem !important;
  }

  h2 {
    font-size: 1rem !important;
  }

  h3 {
    font-size: 1.1rem !important;
  }

  h4 {
    font-size: 1rem !important;
  }

  h6 {
    font-size: 1.3rem !important;
  }

  p {
    font-size: 1rem !important;
  }
}